<html>
<head>
    <title>Enkay Service</title>


    <link href="../../Content/MyCss/Master.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/Common/ionicons.css" rel="stylesheet" />
    <link href="../../Content/Common/ionicons.min.css" rel="stylesheet" />
    <link href="../../Content/Common/ui-grid.css" rel="stylesheet" />
    <link href="../../Content/Common/ui-grid.min.css" rel="stylesheet" />
    <link href="../../Content/Common/angucomplete-alt.css" rel="stylesheet" />
    <link href="../../Content/Common/TabStyle.css" rel="stylesheet" />
    <!-- App Scripts -->
    <script src="../../Scripts/Common/angular.js"></script>
    <script src="../../Scripts/Common/angular-ui-router.min.js"></script>
    <script src="../../Scripts/Common/angular.min.js"></script>

    <script src="../../Scripts/Common/angucomplete-alt.js"></script>
    <script src="../../Scripts/Module/MasterApp.js"></script>


    <script src="../../Scripts/AngularController/Layout/Dashboard.js"></script>

    <script src="../../Scripts/AngularController/Inquiry/add.js"></script>
    <script src="../../Scripts/AngularController/Inquiry/Dashboard.js"></script>
    <script src="../../Scripts/AngularController/Admin/Login.js"></script>


    <script src="../../Scripts/Common/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/Common/ui-grid.min.js"></script>
    <script src="../../Scripts/Common/ui-grid.js"></script>
    <script src="../../Scripts/Common/jquery.min.js"></script>

    <script src="../../Scripts/Common/angular-route.min.js"></script>
    <script src="../../Scripts/Common/angular-route.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>



    <script src="../../Scripts/modernizr-2.6.2.js"></script>
    <script src="../../Scripts/respond.js"></script>
    <script src="../../Scripts/respond.min.js"></script>



</head>
<body ng-app="MasterApp" class="MasterBody">
    <div class="" ng-controller="LayoutDashboardCtrl">

        <div id="mySidenav" class="sidenav">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
            <!--<a ui-sref="Inquiry"><h6>Dashboard</h6></a>
        <a ui-sref="Inquiry"><h6>Inquiry</h6></a>
        <a href="#"><h6>Quote</h6></a>
        <a href="#"><h6>Services</h6></a>
        <a href="#"><h6>Invoice</h6></a>
        <li>
            <a href="#">Link 2</a><a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                <li>
                    <a href="#">Link 2.1</a>
                </li>
                <li>
                    <a href="#">Link 2.2</a>
                </li>
                <li>
                    <a href="#">Link 2.3</a>
                </li>
            </ul>
        </li>
        <a href="#"><h6>Customer Details</h6></a>
        <a href="#"><h6>Employees</h6></a>
        <a href="#"><h6>Configuration</h6></a>-->
            <nav>
                <ul class="nav">
                    <li>
                        <a ui-sref="Inquiry">Dashboard</a>
                    </li>

                    <li>
                        <a ui-sref="Inquiry">Inquiry</a>
                    </li>


                    <li>
                        <a ui-sref="Quote">Quote</a>
                    </li>


                    <li>
                        <a ui-sref="Service">Services</a>
                    </li>


                    <li>
                        <a ui-sref="Inquiry">Invoice</a>
                    </li>

                    <li>
                        <a href="#" class="toggle-custom" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Setup</a>
                        <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                            <!--<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>-->
                            <li id="submeu">
                                <a href="#">Employees</a>
                            </li>
                            <li id="submeu">
                                <a href="#">Configuration</a>
                            </li>
                            <li id="submeu">
                                <a href="#">Company Setup</a>
                            </li>
                            <li id="submeu">
                                <a href="#">User Setup</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="main" class="row Homeheader">

            <span style="font-size:20px;cursor:pointer" ng-click=""> INFINITE Service </span>
        </div>
        <!--<div class="col-md-10 col-sm-10">
      <div class="col-md-12 col-sm-12 "  >-->
        <!--shadow" style="background-color:white"-->
        <div class="">
            <ui-view></ui-view>
        </div>
        <!--</div>
    </div>-->

    </div>
</body>
</html>
