<form ng-app="MasterApp" ng-controller="InquiryAddCtrl">

    <div class="panel panel-default">
        <div class="panel-default panel-heading">Inquiry</div>
        <div class="panel-body">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 form-horizontal">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-2">
                        <label class="control-label">Reference Number</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <label class="control-label">INQ001</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-2">
                        <label class="control-label">Mode Of Inquiry</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <input ng-model="inquirybo.Inquirymaster.Cusomter" type="text">
                    </div>
                </div>
 
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 form-horizontal">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-2">
                        <label class="control-label">Customer</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <div angucomplete-alt id="ex1"
                             placeholder="Search countries"
                             maxlength="50"
                             pause="100"
                             selected-object="selectedCountry"
                             local-data="countries"
                             search-fields="name"
                             title-field="name"
                             minlength="1"
                             input-class="form-control form-control-small"
                             match-class="highlight"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-2">
                        <label class="control-label">Mobile</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <input ng-model="inquirybo.Inquirymaster.Cusomter" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-2">
                        <label class="control-label">EmailID</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3">
                        <input ng-model="inquirybo.Inquirymaster.Cusomter" type="text">
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer"> <input type="submit" value="Submit "> </div>
    </div>

</form>