<html>

<head>
    <title> Infinite Service </title>
    <link href="../../Content/MyCss/main.css" rel="stylesheet" />
    <link href="../../Content/MyCss/Master.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/Common/ionicons.css" rel="stylesheet" />
    <link href="../../Content/Common/ionicons.min.css" rel="stylesheet" />
    <link href="../../Content/Common/ui-grid.css" rel="stylesheet" />
    <link href="../../Content/Common/ui-grid.min.css" rel="stylesheet" />
    <link href="../../Content/Common/angucomplete-alt.css" rel="stylesheet" />
    <link href="../../Content/Common/TabStyle.css" rel="stylesheet" />
    <!-- App Scripts -->
    <script src="../../Scripts/Common/angular.js"></script>
    <script src="../../Scripts/Common/angular-ui-router.min.js"></script>
    <script src="../../Scripts/Common/angular.min.js"></script>

    <script src="../../Scripts/Common/angucomplete-alt.js"></script>
    <script src="../../Scripts/Module/MasterApp.js"></script>


    <script src="../../Scripts/AngularController/Layout/Dashboard.js"></script>

    <script src="../../Scripts/AngularController/Inquiry/add.js"></script>
    <script src="../../Scripts/AngularController/Inquiry/Dashboard.js"></script>



    <script src="../../Scripts/Common/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/Common/ui-grid.min.js"></script>
    <script src="../../Scripts/Common/ui-grid.js"></script>
    <script src="../../Scripts/Common/jquery.min.js"></script>

    <script src="../../Scripts/Common/angular-route.min.js"></script>
    <script src="../../Scripts/Common/angular-route.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>



    <script src="../../Scripts/modernizr-2.6.2.js"></script>
    <script src="../../Scripts/respond.js"></script>
    <script src="../../Scripts/respond.min.js"></script>


</head>

<body ng-app="StudentApp" ng-controller="MasterCtrl">
    <form>
        <div id="login form-group">
            <div class="col-lg-4 col-md-3 col-sm-3 form -control">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 tb">
                <div id="hdr" class="col-lg-10 col-md-6 col-sm-6">
                    <div id="hd">
                        LOGIN
                    </div>
                </div>
                <div class="logingroup">
                    <div class="form-group text">
                        <input type="text" ng-model="val1" placeholder="Username">
                    </div>
                    <div class="form-group text">
                        <div><input type="password" ng-model="val2" placeholder="Password"></div>
                    </div>
                    <div class="form-group">
                        <input type="button" id="bnt" ng-click="sgnfrm()" value="Sign Up" />
                        <a href="../Layout/Index.html">  <input type="button" ng-click="test1()" value="Login" id="bnt" /></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>